@media screen and (min-height: 1080px) {
  body {
    margin-top:20px;
  }
}

.core {
  background: #cedce0;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 10px rgba(2, 255, 255, 0.15) solid;
  animation: flicker 0.2s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.core2 {
  background: #cedce0;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 10px rgba(2, 255, 255, 0.15) solid;
  animation: flicker2 0.2s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.big_core {
  background: #cedce0;
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 10px rgba(2, 255, 255, 0.15) solid;
  animation: big_flicker 0.2s infinite;
}

.c_ease {
  animation: colour_ease 3s infinite ease-in-out;
}

.counterspin5 {
  animation: rotate_anti 5s linear infinite;
}

.counterspin4 {
  animation: rotate_anti 4s linear infinite;
}

.semi_arc {
  width: 100px;
  height: 100px;
  border: 6px solid #02feff;
  background: rgba(2, 254, 255, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transform: rotateZ(0deg);
  transition: box-shadow 3s ease;
  text-align: center;
  line-height: 100px;
}

.semi_arc:hover {
  box-shadow: 0px 0px 30px rgba(2, 254, 255, 0.8);
  transition: 0.3s;
}

.semi_arc_2 {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 5px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate 4s linear infinite;
  text-align: center;
  line-height: 129px;
}

.semi_arc_2:after {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 4px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate_anti 2s linear infinite;
}

.semi_arc_3 {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 5px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate 4s linear infinite;
  text-align: center;
  line-height: 129px;
}

.arc {
  width: 100px;
  height: 100px;
  border: 6px solid #02feff;
  background: rgba(2, 254, 255, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotateY(-30deg) translateZ(-200px);
  -ms-transform: rotateY(-30deg) translateZ(-200px);
  -webkit-transform: rotateY(-30deg) translateZ(-200px);
  transform: rotateY(-30deg) translateZ(-200px);
  transform: rotateZ(0deg);
  transition: box-shadow 3s ease;
  text-align: center;
  line-height: 100px;
}

.arc:hover {
  box-shadow: 0px 0px 30px rgba(2, 254, 255, 0.8);
  transition: 0.3s;
}

.arc:after {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  border: 4px solid #02feff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate 4s linear infinite;
}

.e1:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.e2:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.e3 {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  animation: rotate 5s linear infinite;
}

.e3:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.e4 {
  width: 150px;
  height: 150px;
}

.e4_1 {
  border-color: rgba(2, 255, 255, 0.3);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.e4_1:after {
  border-color: rgba(2, 255, 255, 0.6);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.e5 {
  width: 200px;
  height: 200px;
}

.e5_1 {
  color: rgba(2, 255, 255, 0.15);
  border: 2px solid;
  border-left: 2px solid transparent;
  animation: rotate 5s linear infinite;
}

.e5_2 {
  color: rgba(2, 255, 255, 0.7);
  border: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  animation: rotate_anti 4s linear infinite;
}

.e5_3 {
  color: rgba(2, 255, 255, 0.5);
  border: 2px solid;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: rotate 3s linear infinite;
}

.e5_4 {
  color: rgba(2, 255, 255, 0.15);
  border: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: rotate_anti 2s linear infinite;
}

.e6 {
  border-color: transparent;
  background: rgba(255, 255, 255, 0);
  width: 200px;
  height: 200px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate_anti {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes colour_ease {
  0% {
    border-color: #02feff;
  }
  50% {
    border-color: rgba(2, 254, 255, 0.5);
  }
  100% {
    border-color: #02feff;
  }
}
@keyframes flicker {
  0% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  40% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  50% {
    box-shadow: 0px 0px 16px 6px rgba(150, 255, 255, 0.5), inset 0px 1px 100px 2px rgba(21, 211, 233, 0.3);
  }
  60% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 16px 8px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
}
@keyframes flicker2 {
  0% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  40% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  50% {
    box-shadow: 0px 0px 50px 17px rgba(150, 255, 255, 0.5), inset 0px 1px 100px 2px rgba(21, 211, 233, 0.3);
  }
  60% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
  }
}
@keyframes big_flicker {
  0% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
  40% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
  50% {
    box-shadow: 0px 0px 35px 17px rgba(150, 255, 255, 0.5), inset 0px 1px 50px 40px rgba(21, 211, 233, 0.3);
  }
  60% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 40px 20px rgba(150, 255, 255, 0.5), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  }
}

@keyframes blinker {
  75% {
    opacity: 0.5;
  }
}

@keyframes move_power { from { margin-left: 0%; } to { margin-left: 100%; }  }

.powerTo{
  height:1px;
  width:10px;
  background-color: transparent;
  animation: 5s linear 0s infinite alternate move_power;
  box-shadow: 0px 0px 30px 5px rgba(150, 255, 255, 0.5), inset 0px 1px 50px 15px rgba(21, 211, 233, 0.3);
}

.boxframe1{
  border: 1px solid rgba(150, 255, 255, 0.5);
  width:480px;
  height:360px;
  position: fixed;
  top:50px;
  left:315px;
  box-shadow: 0px 0px 40px 5px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
}

.lineofboxframe1-top{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:170px;
  height:1px;
  position: fixed;
  top:308px;
  left: 740px;
  transform: rotate(-125deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofboxframe1-bottom{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:200px;
  height:1px;
  position: fixed;
  top:425px;
  left: 620px;
  transform: rotate(17.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.boxframe2{
  width:640px;
  height:480px;
  position: fixed;
  top:265px;
  left:1175px;
  box-shadow: 0px 0px 40px 5px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
}

.lineofboxframe2-top{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:200px;
  height:1px;
  position: fixed;
  top:580px;
  left: 620px;
  transform: rotate(162.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofboxframe2-bottom{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:170px;
  height:1px;
  position: fixed;
  top:696px;
  left: 740px;
  transform: rotate(-65deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.boxframe3{
  border: 1px solid rgba(150, 255, 255, 0.5);
  width:480px;
  height:360px;
  position: fixed;
  top:600px;
  left:315px;
  box-shadow: 0px 0px 40px 5px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
}

.lineofboxframe3-top{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:100px;
  height:1px;
  position: fixed;
  top:421px;
  left: 1100px;
  transform: rotate(157.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofboxframe3-bottom{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:100px;
  height:1px;
  position: fixed;
  top:584px;
  left: 1100px;
  transform: rotate(22.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

/*Line from the Reactor*/

.lineofboxframeView-top{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:340px;
  height:1px;
  position: fixed;
  top:266px;
  left: 1016px;
  transform: rotate(135deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofboxframeView-bottom{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:120px;
  height:1px;
  position: fixed;
  top:455px;
  left: 1110px;
  transform: rotate(-12.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofboxframeGridMap-top{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:120px;
  height:1px;
  position: fixed;
  top:535px;
  left: 1110px;
  transform: rotate(12.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofboxframeGridMap-bottom{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:340px;
  height:1px;
  position: fixed;
  top:739px;
  left: 1016px;
  transform: rotate(-135deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofReactorView-1{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:25px;
  height:1px;
  position: fixed;
  top:380px;
  left: 832px;
  transform: rotate(45deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofReactorView-2{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:28px;
  height:1px;
  position: fixed;
  top:436px;
  left: 789px;
  transform: rotate(20deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofReactorView-3{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:30px;
  height:1px;
  position: fixed;
  top:501px;
  left: 772px;
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofReactorView-4{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:29px;
  height:1px;
  position: fixed;
  top:565px;
  left: 783px;
  transform: rotate(-20deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofReactorView-5{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:25px;
  height:1px;
  position: fixed;
  top:620px;
  left: 827px;
  transform: rotate(-45deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofLinksToCapacity{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:20px;
  height:1px;
  position: fixed;
  top:431px;
  left: 590px;
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofLinksToConsumption{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:84px;
  height:1px;
  position: fixed;
  top:539px;
  left: 566px;
  transform: rotate(-65deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofLinksToPerformance{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:185px;
  height:1px;
  position: fixed;
  top:339px;
  left: 541px;
  transform: rotate(20deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}



.lineofLinksToPerformanceSortRig{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:185px;
  height:1px;
  position: absolute;
  top:360px;
  left: 667px;
  transform: rotate(34.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofLinksToBinsTop{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:119px;
  height:1px;
  position: fixed;
  top:427px;
  left: 705px;
  transform: rotate(-158deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofLinksToBinsBottom{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:100px;
  height:1px;
  position: fixed;
  top:562px;
  left: 708px;
  transform: rotate(-12.5deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofLinksToRubbishLeft{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:55px;
  height:1px;
  position: fixed;
  top:332px;
  left: 878px;
  transform: rotate(72deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}

.lineofLinksToRubbishRight{
  border: 1px solid rgba(150, 255, 255, 0.5);
  background-color: rgba(150, 255, 255, 0.5);
  width:55px;
  height:1px;
  position: fixed;
  top:332px;
  left: 988px;
  transform: rotate(-72deg);
  box-shadow: 0px 0px 10px 2px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
  animation: 0.5s ease-in;
  z-index: -1;
}
/* === BoxFrame === */

.boxframeView{
  width:640px;
  height:480px;
  position: fixed;
  top:10px;
  left:1225px;
  box-shadow: 0px 0px 40px 5px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
}

.boxframeGridMap{
  width:640px;
  height:480px;
  position: fixed;
  top:510px;
  left:1225px;
  box-shadow: 0px 0px 40px 5px rgba(150, 255, 255, 0.3), inset 0px 1px 30px 15px rgba(21, 211, 233, 0.3);
}

.boxframe-performance{
  width:450px;
  position: fixed;
  top:40px;
  left:315px;
  border-radius:15%;
  /*border: 1px transparent rgba(150, 255, 255, 0.3);*/
  padding:5px;
  border-bottom:3px solid rgba(150, 255, 255, 0.7); 
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-links{
  width:570px;
  height:400px;
  position: fixed;
  top:300px;
  left:390px;
  /*border: 1px solid rgba(150, 255, 255, 0.3);*/
}

.boxframe-automan{
  width:640px;
  /*height:240px;*/
  position: fixed;
  top:700px;
  left: 400px;
  border-radius:15%;
  padding:20px;
  padding-bottom: 0px;
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-consumption{
  width:275px;
  position: fixed;
  top:375px;
  left:315px;
  border-radius:15%;  
  border-right:3px solid rgba(150, 255, 255, 0.7); 
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-capacity{
  width:275px;
  position: fixed;
  top:525px;
  left:315px;
  border-radius:15%; 
  border-right:3px solid rgba(150, 255, 255, 0.7); 
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-warnenv{
  width:250px;
  position: fixed;
  top:230px;
  left:830px;
  border-radius:15%; 
  border-bottom:3px solid rgba(150, 255, 255, 0.7);
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-bins{
  width:400px;
  position: fixed;
  top:350px;
  left:315px;
  border-radius:15%;
  /*border: 1px transparent rgba(150, 255, 255, 0.3);*/
  padding:0px 5px 5px 5px;
  border-bottom:3px solid rgba(150, 255, 255, 0.7); 
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-rubbish{
  width:250px;
  position: fixed;
  top:94px;
  left:830px;
  border-radius:15%;
  /*border: 1px transparent rgba(150, 255, 255, 0.3);*/
  padding:5px;
  border-bottom:3px solid rgba(150, 255, 255, 0.7); 
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-ident{
  width:600px;
  position: fixed;
  top:715px;
  left:650px;
  border-radius:15%;
  /*border: 1px transparent rgba(150, 255, 255, 0.3);*/
  padding:5px;
  border-bottom:3px solid rgba(150, 255, 255, 0.7); 
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

.boxframe-ControlSortRig{
  width:575px;
  height:300px;
  position: fixed;
  top:550px;
  left:1300px;
  border-radius:15%;
  /*border: 1px transparent rgba(150, 255, 255, 0.3);*/
  padding:5px;
  border-bottom:3px solid rgba(150, 255, 255, 0.7); 
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

#muteYouTubeVideoPlayer{
  width:640px;
  height:480px;
}

#muteLiveViewEarthE{
  width:640px;
  height:480px;
}

#muteEarthE{
  width:480px;
  height:360px;
}

#muteSortRig{
  width:640px;
  height:480px;
}

#muteEyeInTheSky{
  width:480px;
  height:360px;
}

.tableIdent{
  margin-left: 20px;
}

.Plastic{
  margin:-2px 0px 1rem 0px;
  height:25px;
  width:180px;
  border: 1px solid rgba(150, 255, 255, 0.3);
  background-color: rgba(150, 255, 255, 0.171);
}

#percentagePlastic{
  position: relative;
  float:right;
  top:0;
  height:23px;
  width: 40%;
  background-color: black;
  border-left: 3px solid rgba(150, 255, 255, 0.7);
  transition: 1s linear;
}

.Metal{
  margin:-2px 0px 1rem 0px;
  height:25px;
  width:180px;
  border: 1px solid rgba(150, 255, 255, 0.3);
  background-color: rgba(150, 255, 255, 0.171);
}

#percentageMetal{
  position: relative;
  float:right;
  top:0;
  height:23px;
  width: 40%;
  background-color: black;
  border-left: 3px solid rgba(150, 255, 255, 0.7);
  transition: 1s linear;
}

.Paper{
  margin:0px 0px 1rem 0px;
  height:25px;
  width:180px;
  border: 1px solid rgba(150, 255, 255, 0.3);
  background-color: rgba(150, 255, 255, 0.171);
}

#percentagePaper{
  position: relative;
  float:right;
  top:0;
  height:23px;
  width: 40%;
  background-color: black;
  border-left: 3px solid rgba(150, 255, 255, 0.7);
  transition: 1s linear;
}

.Unable{
  margin:0px 0px 1rem 0px;
  height:25px;
  width:180px;
  border: 1px solid rgba(150, 255, 255, 0.3);
  background-color: rgba(150, 255, 255, 0.171);
}

#percentageUnable{
  position: relative;
  float:right;
  top:0;
  height:23px;
  width: 40%;
  background-color: black;
  border-left: 3px solid rgba(150, 255, 255, 0.7);
  transition: 1s linear;
}

#warnToggle{
  animation: none;
}

#warnenv{
  text-align: center;
  margin:15px 0px 15px 0px;
  font-size: 32px;
}

.boxframe-tideenv{
  width:300px;
  position: fixed;
  top:130px;
  left:805px;
  border-radius:15%; 
  border-bottom:3px solid rgba(150, 255, 255, 0.7);
  box-shadow: 0px 0px 40px 1px rgba(150, 255, 255, 0.1), inset 0px 1px 300px 1px rgba(21, 211, 233, 0.1);
}

#tideToggle{
  animation: none;
}

#tideenv{
  text-align: center;
  margin:15px 0px 15px 0px;
  font-size: 32px;
}

.throttle{
  margin-top: 10px;
  width:50px;
  height:100px;
  margin-left:-14px;
  border: 1px solid rgba(150, 255, 255, 0.3);
  background-color: rgba(150, 255, 255, 0.171);
}

#percentageL{
  height: 40%;
  background-color: black;
  border-bottom: 3px solid rgba(150, 255, 255, 0.7);
  transition: 1s linear;
}

#percentageR{
  height: 40%;
  background-color: black;
  border-bottom: 3px solid rgba(150, 255, 255, 0.7);
  transition: 1s linear;
}

/*Rubbish*/
#BinA{
  border-right:1px solid #454d55;
  border-bottom:1px solid #454d55;
  text-align: center;
}

#BinB{
  border-bottom:1px solid #454d55;
  text-align: center;
}

#BinC{
  border-right:1px solid #454d55;
  text-align: center;
}

#BinD{
  text-align: center;
}

#BinAtfr{
  border-right:1px solid #454d55;
  border-bottom:3px solid #454d55;
  text-align: center;
}

#BinBtfr{
  border-bottom:3px solid #454d55;
  text-align: center;
}

#BinCtfr{
  border-right:1px solid #454d55;
  text-align: center;
}

#BinDtfr{
  text-align: center;
}

#totRub{
  border-top:1px solid transparent;
  border-bottom:1px solid #454d55;
  text-align: center;
  width:16.667%;
}

#colRub{
  border-top:1px solid transparent;
  border-bottom:1px solid #454d55;
  text-align: center;
  width:16.667%;
}

#SortRub{
  border-top:1px solid transparent;
  text-align: center;
  width:16.667%;
}


/* 
    GridMap
*/
#gridmaptb {
  width:580px;
  height:400px;
  overflow: hidden;
  cursor: pointer;
}

#gridmap {
  width:640px;
  height:480px; 
  border: 5px rgba(103, 110, 121, 0.685) solid;
  overflow: hidden;
  background-color: #2b2b2b;
  cursor: pointer;
  border-radius: 1%;
  z-index: -2;
}

#instrearthe{
  position: relative;
  left: 50px;
  top: 50px;
  transition: left .5s ease-in, top .5s ease-in;
  z-index:1;
}

#curearthe{
  position: relative;
  left: 50px;
  transition: left .5s ease-in, top .5s ease-in;
  z-index:1;
  opacity: 0.8;
  display: block;
}

#redcrab{
  position: relative;
  left: 112px;
  top: 20px;
  transition: left .5s ease-in, top .5s ease-in;
  z-index:1;
}

#bluecrab{
  position: relative;
  left: 382px;
  top: 340px;
  transition: left .5s ease-in, top .5s ease-in;
  z-index:1;
}

#greencrab{
  position: relative;
  left: 486px;
  top: 340px;
  transition: left .5s ease-in, top .5s ease-in;
  z-index:1;
}

#demotests{
  width:640px;
  height:480px;
  position:fixed;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Toast*/

#Tearthe{
  background-color: transparent;
  box-shadow: 0px 0px 40px 1px rgba(150,255,255,0.1), inset 0px 1px 300px 1px rgba(21,211,233,0.1);
  color: rgba(2, 254, 255, 0.8);
  margin-bottom: 0px;
  margin-right: 10px;
}

#TsortRig{
  background-color: transparent;
  box-shadow: 0px 0px 40px 1px rgba(150,255,255,0.1), inset 0px 1px 300px 1px rgba(21,211,233,0.1);
  color: rgba(2, 254, 255, 0.8);
  margin-bottom: 0px;
  margin-right: 10px;
}

#TRubb{
  background-color: transparent;
  box-shadow: 0px 0px 40px 1px rgba(150,255,255,0.1), inset 0px 1px 300px 1px rgba(21,211,233,0.1);
  color: rgba(2, 254, 255, 0.8);
  margin-bottom: 0px;
}

#toastHead{
  background-color: transparent;
  box-shadow: 0px 0px 40px 1px rgba(150,255,255,0.1), inset 0px 1px 300px 1px rgba(21,211,233,0.1);
  color: rgba(2, 254, 255, 0.8);
}

#toastBody{
  background-color: rgba(20, 20, 20, 0.643);
  box-shadow: 0px 0px 40px 1px rgba(150,255,255,0.1), inset 0px 1px 300px 1px rgba(21,211,233,0.1);
  color: rgba(2, 254, 255, 0.8);
}

/* Font / Universal Properties */
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font: 20px 'Agency FB', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  background: black;
  color: #02feff;
}

/* Left Menu */
#leftmenu {
  position: fixed;
  float: left;
  margin-left: 50px;
  width: 210px;
}

#date_time {
  margin-left: 30px;
  width: 200px;
  height: 200px;
}

#time {
  margin-left: 110px;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  line-height: 0;
}

#date {
  position: fixed;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.8);
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  margin-left: -15px;
}

.title_underline {
  border-color: #02feff;
  float:center;
}

.menu {
  width: 200px;
  margin: 0;
  padding: 5px;
}

.menuitem {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-left: 5px;
  color: #02feff;
  background: transparent;
  border: transparent;
  font-size: 15px;
  text-align: left;
  display: block;
  float: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.caption {
  color: rgba(2, 255, 255, 0.6);
  display: inline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.caption .base{
  font-size: 20px;
}

.caption:hover {
  color: #02feff;
}

.app_icon {
  width: 48px;
  color: rgba(2, 255, 255, 0.6);
  font-size: 40px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.app_icon:hover {
  color: #02feff;
}

/* Right Menu */
#rightmenu {
  float: right;
  margin-right: 20px;
  width: 210px;
}

#note_input {
  color: rgba(2, 255, 255, 0.6);
  padding: 5px;
  border-style: none;
  background: transparent;
  resize: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: calc(100% - 15px);
}

#note_input:hover {
  color: #02feff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Taskbar */
#taskbar_wrapper
#taskbar {
  position: fixed;
  width: 200px;
  height: 200px;
  background: gray;
  margin-left: auto;
  margin-right: auto;
}

/* Arc Reactor */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#arc_container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.arc_reactor {
  position: relative;
  top: 50%;
  margin-top: -125px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 50px 15px rgba(2, 255, 255, 0.3), inset 0px 0px 50px 15px rgba(2, 255, 255, 0.3);
          box-shadow: 0px 0px 50px 15px rgba(2, 255, 255, 0.3), inset 0px 0px 50px 15px rgba(2, 255, 255, 0.3);
}

.case_container {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
}

.core2 {
  background: #cedce0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid rgba(2, 255, 255, 0.15);
  -webkit-animation: flicker2 0.2s infinite;
          animation: flicker2 0.2s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.e7 {
  width: 95.25%;
  height: 95.25%;
  left: 2.5475%;
  right: 2.5475%;
  border: 6px solid transparent;
  background: transparent;
  border-radius: 50%;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-box-shadow 3s ease;
  transition: -webkit-box-shadow 3s ease;
  transition: box-shadow 3s ease;
  transition: box-shadow 3s ease, -webkit-box-shadow 3s ease;
  text-align: center;
  line-height: 100px;
}

.marks li {
  display: block;
  width: 3px;
  height: 11px;
  background: rgba(2, 254, 255, 0.8);
  position: absolute;
  margin-left: 105px;
  margin-top: -110px;
  -webkit-animation: colour_ease2 3s infinite ease-in-out;
          animation: colour_ease2 3s infinite ease-in-out;
}

@-webkit-keyframes colour_ease2 {
  0% {
    background: #02feff;
  }
  50% {
    background: rgba(2, 254, 255, 0.3);
  }
  100% {
    background: #02feff;
  }
}

@keyframes colour_ease2 {
  0% {
    background: #02feff;
  }
  50% {
    background: rgba(2, 254, 255, 0.3);
  }
  100% {
    background: #02feff;
  }
}

.marks li:first-child {
  -webkit-transform: rotate(6deg) translateY(125px);
          transform: rotate(6deg) translateY(125px);
}

.marks li:nth-child(2) {
  -webkit-transform: rotate(12deg) translateY(125px);
          transform: rotate(12deg) translateY(125px);
}

.marks li:nth-child(3) {
  -webkit-transform: rotate(18deg) translateY(125px);
          transform: rotate(18deg) translateY(125px);
}

.marks li:nth-child(4) {
  -webkit-transform: rotate(24deg) translateY(125px);
          transform: rotate(24deg) translateY(125px);
}

.marks li:nth-child(5) {
  -webkit-transform: rotate(30deg) translateY(125px);
          transform: rotate(30deg) translateY(125px);
}

.marks li:nth-child(6) {
  -webkit-transform: rotate(36deg) translateY(125px);
          transform: rotate(36deg) translateY(125px);
}

.marks li:nth-child(7) {
  -webkit-transform: rotate(42deg) translateY(125px);
          transform: rotate(42deg) translateY(125px);
}

.marks li:nth-child(8) {
  -webkit-transform: rotate(48deg) translateY(125px);
          transform: rotate(48deg) translateY(125px);
}

.marks li:nth-child(9) {
  -webkit-transform: rotate(54deg) translateY(125px);
          transform: rotate(54deg) translateY(125px);
}

.marks li:nth-child(10) {
  -webkit-transform: rotate(60deg) translateY(125px);
          transform: rotate(60deg) translateY(125px);
}

.marks li:nth-child(11) {
  -webkit-transform: rotate(66deg) translateY(125px);
          transform: rotate(66deg) translateY(125px);
}

.marks li:nth-child(12) {
  -webkit-transform: rotate(72deg) translateY(125px);
          transform: rotate(72deg) translateY(125px);
}

.marks li:nth-child(13) {
  -webkit-transform: rotate(78deg) translateY(125px);
          transform: rotate(78deg) translateY(125px);
}

.marks li:nth-child(14) {
  -webkit-transform: rotate(84deg) translateY(125px);
          transform: rotate(84deg) translateY(125px);
}

.marks li:nth-child(15) {
  -webkit-transform: rotate(90deg) translateY(125px);
          transform: rotate(90deg) translateY(125px);
}

.marks li:nth-child(16) {
  -webkit-transform: rotate(96deg) translateY(125px);
          transform: rotate(96deg) translateY(125px);
}

.marks li:nth-child(17) {
  -webkit-transform: rotate(102deg) translateY(125px);
          transform: rotate(102deg) translateY(125px);
}

.marks li:nth-child(18) {
  -webkit-transform: rotate(108deg) translateY(125px);
          transform: rotate(108deg) translateY(125px);
}

.marks li:nth-child(19) {
  -webkit-transform: rotate(114deg) translateY(125px);
          transform: rotate(114deg) translateY(125px);
}

.marks li:nth-child(20) {
  -webkit-transform: rotate(120deg) translateY(125px);
          transform: rotate(120deg) translateY(125px);
}

.marks li:nth-child(21) {
  -webkit-transform: rotate(126deg) translateY(125px);
          transform: rotate(126deg) translateY(125px);
}

.marks li:nth-child(22) {
  -webkit-transform: rotate(132deg) translateY(125px);
          transform: rotate(132deg) translateY(125px);
}

.marks li:nth-child(23) {
  -webkit-transform: rotate(138deg) translateY(125px);
          transform: rotate(138deg) translateY(125px);
}

.marks li:nth-child(24) {
  -webkit-transform: rotate(144deg) translateY(125px);
          transform: rotate(144deg) translateY(125px);
}

.marks li:nth-child(25) {
  -webkit-transform: rotate(150deg) translateY(125px);
          transform: rotate(150deg) translateY(125px);
}

.marks li:nth-child(26) {
  -webkit-transform: rotate(156deg) translateY(125px);
          transform: rotate(156deg) translateY(125px);
}

.marks li:nth-child(27) {
  -webkit-transform: rotate(162deg) translateY(125px);
          transform: rotate(162deg) translateY(125px);
}

.marks li:nth-child(28) {
  -webkit-transform: rotate(168deg) translateY(125px);
          transform: rotate(168deg) translateY(125px);
}

.marks li:nth-child(29) {
  -webkit-transform: rotate(174deg) translateY(125px);
          transform: rotate(174deg) translateY(125px);
}

.marks li:nth-child(30) {
  -webkit-transform: rotate(180deg) translateY(125px);
          transform: rotate(180deg) translateY(125px);
}

.marks li:nth-child(31) {
  -webkit-transform: rotate(186deg) translateY(125px);
          transform: rotate(186deg) translateY(125px);
}

.marks li:nth-child(32) {
  -webkit-transform: rotate(192deg) translateY(125px);
          transform: rotate(192deg) translateY(125px);
}

.marks li:nth-child(33) {
  -webkit-transform: rotate(198deg) translateY(125px);
          transform: rotate(198deg) translateY(125px);
}

.marks li:nth-child(34) {
  -webkit-transform: rotate(204deg) translateY(125px);
          transform: rotate(204deg) translateY(125px);
}

.marks li:nth-child(35) {
  -webkit-transform: rotate(210deg) translateY(125px);
          transform: rotate(210deg) translateY(125px);
}

.marks li:nth-child(36) {
  -webkit-transform: rotate(216deg) translateY(125px);
          transform: rotate(216deg) translateY(125px);
}

.marks li:nth-child(37) {
  -webkit-transform: rotate(222deg) translateY(125px);
          transform: rotate(222deg) translateY(125px);
}

.marks li:nth-child(38) {
  -webkit-transform: rotate(228deg) translateY(125px);
          transform: rotate(228deg) translateY(125px);
}

.marks li:nth-child(39) {
  -webkit-transform: rotate(234deg) translateY(125px);
          transform: rotate(234deg) translateY(125px);
}

.marks li:nth-child(40) {
  -webkit-transform: rotate(240deg) translateY(125px);
          transform: rotate(240deg) translateY(125px);
}

.marks li:nth-child(41) {
  -webkit-transform: rotate(246deg) translateY(125px);
          transform: rotate(246deg) translateY(125px);
}

.marks li:nth-child(42) {
  -webkit-transform: rotate(252deg) translateY(125px);
          transform: rotate(252deg) translateY(125px);
}

.marks li:nth-child(43) {
  -webkit-transform: rotate(258deg) translateY(125px);
          transform: rotate(258deg) translateY(125px);
}

.marks li:nth-child(44) {
  -webkit-transform: rotate(264deg) translateY(125px);
          transform: rotate(264deg) translateY(125px);
}

.marks li:nth-child(45) {
  -webkit-transform: rotate(270deg) translateY(125px);
          transform: rotate(270deg) translateY(125px);
}

.marks li:nth-child(46) {
  -webkit-transform: rotate(276deg) translateY(125px);
          transform: rotate(276deg) translateY(125px);
}

.marks li:nth-child(47) {
  -webkit-transform: rotate(282deg) translateY(125px);
          transform: rotate(282deg) translateY(125px);
}

.marks li:nth-child(48) {
  -webkit-transform: rotate(288deg) translateY(125px);
          transform: rotate(288deg) translateY(125px);
}

.marks li:nth-child(49) {
  -webkit-transform: rotate(294deg) translateY(125px);
          transform: rotate(294deg) translateY(125px);
}

.marks li:nth-child(50) {
  -webkit-transform: rotate(300deg) translateY(125px);
          transform: rotate(300deg) translateY(125px);
}

.marks li:nth-child(51) {
  -webkit-transform: rotate(306deg) translateY(125px);
          transform: rotate(306deg) translateY(125px);
}

.marks li:nth-child(52) {
  -webkit-transform: rotate(312deg) translateY(125px);
          transform: rotate(312deg) translateY(125px);
}

.marks li:nth-child(53) {
  -webkit-transform: rotate(318deg) translateY(125px);
          transform: rotate(318deg) translateY(125px);
}

.marks li:nth-child(54) {
  -webkit-transform: rotate(324deg) translateY(125px);
          transform: rotate(324deg) translateY(125px);
}

.marks li:nth-child(55) {
  -webkit-transform: rotate(330deg) translateY(125px);
          transform: rotate(330deg) translateY(125px);
}

.marks li:nth-child(56) {
  -webkit-transform: rotate(336deg) translateY(125px);
          transform: rotate(336deg) translateY(125px);
}

.marks li:nth-child(57) {
  -webkit-transform: rotate(342deg) translateY(125px);
          transform: rotate(342deg) translateY(125px);
}

.marks li:nth-child(58) {
  -webkit-transform: rotate(348deg) translateY(125px);
          transform: rotate(348deg) translateY(125px);
}

.marks li:nth-child(59) {
  -webkit-transform: rotate(354deg) translateY(125px);
          transform: rotate(354deg) translateY(125px);
}

.marks li:nth-child(60) {
  -webkit-transform: rotate(360deg) translateY(125px);
          transform: rotate(360deg) translateY(125px);
}

/* Particles / Unique Elements */
.vline {
  width: 0;
  height: 200px;
  float: left;
  border-left: 1px solid rgba(2, 255, 255, 0.3);
}

.hline {
  width: 200px;
  height: 0;
  border-bottom: 1px solid rgba(2, 255, 255, 0.3);
}

#particle1 {
  position: fixed;
  margin-left: 260px;
  margin-top: 410px;
}

#particle1_1 {
  position: fixed;
  margin-left: 255px;
  margin-top: 480px;
}

#particle1_2 {
  position: fixed;
  margin-left: 275px;
  margin-top: 580px;
}

#particle1_3 {
  position: fixed;
  color: rgba(2, 255, 255, 0.3);
  font-size: 90px;
  margin-left: 190px;
  margin-top: 730px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -1;
}

#particle2 {
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;
}

#particle3 {
  position: fixed;
  height: 240px;
  margin-left: 40px;
}

#particle4 {
  position: fixed;
  height: 240px;
  margin-top: 200px;
  margin-left: -10px;
}

#particle5 {
  position: fixed;
  height: 290px;
  margin-top: -90px;
  margin-left: 230px;
  border-color: rgba(2, 255, 255, 0.15);
}

#particle6 {
  position: fixed;
  height: 290px;
  margin-top: 5px;
  margin-left: 3px;
  border-color: rgba(2, 255, 255, 0.3);
}

#particle7 {
  position: fixed;
  height: 290px;
  margin-top: 5px;
  margin-left: 3px;
  border-color: rgba(2, 255, 255, 0.15);
}

#particle8 {
  position: fixed;
  height: 500px;
  margin-left: -232px;
  margin-top: 280px;
  border-color: rgba(2, 255, 255, 0.15);
}

#particle9 {
  position: fixed;
  height: 320px;
  margin-left: 3px;
  border-color: rgba(2, 255, 255, 0.3);
}

/* Right Menu Particles */
#particle10 {
  width: 210px;
  float: right;
  border-color: #02feff;
}

#particle11 {
  margin-right: 30px;
  margin-top: 3px;
  width: 210px;
  float: right;
  border-color: #02feff;
}

#particle12 {
  float: left;
  height: 352px;
  margin-top: -40px;
  border-color: #02feff;
}
/*# sourceMappingURL=Untitled-1.css.map */