<div>

    <head>
        <title>Team Earth</title>
        <!--Bootstrap-->
        <!--javascript-->
        {% load static %}
            <script text="javascript" src="{% static 'home/js/bootstrap.bundle.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
            <!--Styles-->
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_grid.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_grid.min.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_reboot.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_reboot.min.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}"> 

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <!--Charts Source-->
        <!--javascript-->
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
            <script text="javascript" src="{% static 'home/js/data.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/gridmap.js' %}"async></script>
        <!--Styles-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">

        <!--jQuery-->
        <script src="{% static 'home/js/jquery/jquery.min.js' %}"></script>

        <!--Font Awosome
        <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">-->

        <!--Custom Scripts-->
        <!--javascript-->
        <script text="javascript" src="{% static custom.js %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">

        <!--styles-->
        <link rel="stylesheet" href="{% static 'home/css/customcopy.css' %}">
    </head>
    <div>
        <div class="d-flex" id="wrapper">

            <!-- Sidebar 
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Project Earth</div>
                <div class="list-group list-group-flush" style="background-color: transparent;">
                <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action">Shortcuts</a>
                <a href="#" class="list-group-item list-group-item-action">Overview</a>
                <a href="#" class="list-group-item list-group-item-action">Events</a>
                <a href="#" class="list-group-item list-group-item-action">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Status</a>
                </div>
            </div>-->

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="robot" role="tabpanel" aria-labelledby="robot-tab">
                                            <div class="box-container">
                                                <div id="titled"><a>Monitoring EarthE</a></div>
                                                <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-tritrack"  role="tabpanel" aria-labelledby="pills-tritrack-tab">
                                                        <div class="content-box">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div id="titled" style="background-color: green;"><a style="text-align: center;">Operational</a></div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div id="titled_warnenv" style="background-color: green;"><a style="text-align: center;" id="warnenv">{{ seagull}}</a></div>
                                                                </div>
                                                            </div>
                                                            <div class="box-container noneed" style="margin-top:10px">
                                                                <div id="titled">
                                                                    <a style="text-align: center;">Microcontrollers</a>
                                                                </div>
                                                                <div class="row" style="margin:0px">
                                                                    <div class="col-md-12">
                                                                        <div class="table-responsive-lg">
                                                                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width:33%; border-top: transparent">Module</th>
                                                                                        <th style="width:34%; border-top: transparent">Status</th>
                                                                                        <th style="width:33%; border-top: transparent">Processing</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tr>
                                                                                    <th style="color:rgba(241, 232, 232, 0.822); text-align: center;">RaspberyPi</th>
                                                                                    <td id="PiStat">{{ PiStat }}</td><td id="Pi4procTri">{{ Pi4procTri }}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th style="color:rgba(241, 232, 232, 0.822); text-align: center;"> Boarduino</th>
                                                                                    <td id="BrdStat">{{ BrdStat }}</td><td id="BrdProc">{{ BrdProc }}</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="box-container noneed" style="margin-top:10px">                                  
                                                                <div id="titled">
                                                                    <a style="text-align: center;">Powerboard</a>
                                                                </div>
                                                                <div class="row" style="margin:0px">
                                                                    <div class="col-md-12">
                                                                        <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                                                            <thead>
                                                                                <th style="color:rgba(241, 232, 232, 0.822); text-align: center; border-top: transparent">RaspberyPi</th>
                                                                                <th style="color:rgba(241, 232, 232, 0.822); text-align: center; border-top: transparent">Boarduino</th>
                                                                                <th style="color:rgba(241, 232, 232, 0.822); text-align: center; border-top: transparent">Battery 1</th>
                                                                                <th style="color:rgba(241, 232, 232, 0.822); text-align: center; border-top: transparent">Battery 2</th>
                                                                            </thead>
                                                                            <tr>
                                                                                <td id="Consumption">{{Consumption}} W</td>
                                                                                <td id="Consumptiona">{{Consumption}} W</td>
                                                                                <td style="height:25px;" id="CapA">{{CapA}}</td>
                                                                                <td id="CapB">{{CapB}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="box-container" style="margin-top:10px;">
                                            <div id="titled">
                                                <a>Rubbish</a>
                                            </div>
                                            <div class="content-box" style="padding-left:0px;padding-right:0px;">
                                                <div class="row" style="margin: 0px">
                                                    <div class="col-md-12" style="text-align:center; width:100%">
                                                        <div class="content-box">
                                                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                                                <tr>
                                                                    <th>Estimated</th><td id="totRub">{{totRub}}</td>
                                                                    <th>Collected</th><td id="colRub">{{colRub}}</td>
                                                                    <th>Sorted</th><td id="SortRub">{{SortRub}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="box-container noneed">
                                                            <div class="content-box">
                                                                <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:33%; border-top: transparent">Bin A</th>
                                                                            <th style="width:33%; border-top: transparent">Bin B</th>
                                                                            <th style="width:33%; border-top: transparent">Bin C</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                                <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                                                    <tr><th>Amount</th><td id="BinA">{{ BinA }}</td><th>Amount</th><td id="BinB">{{ BinB }}</td><th>Amount</th><td id="BinC">{{ BinC }}</td></tr>
                                                                    <tr><th>Trasnfer</th><td>NaN</td><th>Waitinig</th><td>NaN</td><th>Waitinig</th><td>NaN</td></tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="tab-pane fade" id="docs" role="tabpanel" aria-labelledby="docs-tab">
                                            <div class="box-container">
                                                <div id="titled">
                                                    <a>Documentantion</a>
                                                </div>
                                                <div class="content-box">
                                                    <div class="box-container noneed">
                                                        <div id="titled">
                                                            <a>User Manual </a>
                                                        </div>
                                                        <div class="content-box">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">Choose Device</label>
                                                                </div>
                                                                <select class="custom-select" id="inputGroupSelect01">
                                                                    <option selected>Select...</option>
                                                                    <option value="1">TriTrack</option>
                                                                    <option value="2">Eye In the Sky</option>
                                                                    <option value="2">DaNI</option>
                                                                    <option value="3">Trash Sorting Rig</option>
                                                                </select>
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">Section</label>
                                                                </div>
                                                                <select class="custom-select" id="inputGroupSelect01">
                                                                    <option selected>Select...</option>
                                                                    <option value="1">Procedures</option>
                                                                    <option value="1">Pathing</option>
                                                                    <option value="2">Bin Collection Mechanism</option>
                                                                    <option value="3">Calibration</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="box-container noneed" style="margin-top:10px">
                                                        <div id="titled">
                                                            <a>Technical Manual</a>
                                                        </div>
                                                        <div class="content-box">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">Choose Device</label>
                                                                </div>
                                                                <select class="custom-select" id="inputGroupSelect01">
                                                                    <option selected>Select...</option>
                                                                    <option value="1">TriTrack</option>
                                                                    <option value="2">Eye In the Sky</option>
                                                                    <option value="2">DaNI</option>
                                                                    <option value="3">Trash Sorting Rig</option>
                                                                </select>
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">Section</label>
                                                                </div>
                                                                <select class="custom-select" id="inputGroupSelect01">
                                                                    <option selected>Select...</option>
                                                                    <option value="1">Wiring</option>
                                                                    <option value="1">Pathing</option>
                                                                    <option value="2">Bin Collection Mechanism</option>
                                                                    <option value="3">Calibration</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="box-container noneed" style="margin-top:10px">
                                                        <div class="content-box">
                                                            <div id="titled">
                                                                <a>Troubleshooting</a>
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">Choose Device</label>
                                                                </div>
                                                                <select class="custom-select" id="inputGroupSelect01">
                                                                    <option selected>Select...</option>
                                                                    <option value="1">TriTrack</option>
                                                                    <option value="2">Eye In the Sky</option>
                                                                    <option value="2">DaNI</option>
                                                                    <option value="3">Trash Sorting Rig</option>
                                                                </select>
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                        for="inputGroupSelect01">Section</label>
                                                                </div>
                                                                <select class="custom-select" id="inputGroupSelect01">
                                                                    <option selected>Select...</option>
                                                                    <option value="1">Wiring</option>
                                                                    <option value="1">Pathing</option>
                                                                    <option value="2">Bin Collection Mechanism</option>
                                                                    <option value="3">Calibration</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="box-container noneed" style="margin-top:10px">
                                                        <div class="content-box">
                                                            <div id="titled">
                                                                <a>Tools</a>
                                                            </div>
                                                            <div class="content-box"
                                                                style="text-align: center; font-size: 20px;">
                                                                <button type="button" class="btn btn-outline-success"
                                                                    style="text-align: center; font-size: 20px;">View</button>
                                                                <button type="button" class="btn btn-outline-danger"
                                                                    style="text-align: center; font-size: 20px;">Assistance</button>
                                                                <button type="button" class="btn btn-outline-warning"
                                                                    style="text-align: center; font-size: 20px;">Download</button>
                                                                <button type="button" class="btn btn-outline-secondary"
                                                                    style="text-align: center; font-size: 20px;">Print</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="box-container" style="margin-top:0px;height:776px;">
                                        <div class="content-box">
                                            <ul class="nav nav-pills nav-justified">
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#live">Eye in the Sky Live View</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#sortrig">Sorting Rig</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#gridmaptb">Grid Map of EarthE</a>
                                                </li>
                                            </ul>
                                            <!--<div class="row">
                                                <div class="col-md-4"><div id="titled"><a class="nav-link" data-toggle="tab" href="#live">Eye in the Sky Live View</a></div></div>
                                                <div class="col-md-4"><div id="titled"><a class="nav-link" data-toggle="tab" href="#sortrig">Sorting Rig</a></div></div>
                                                <div class="col-md-4"><div id="titled"><a class="nav-link active" data-toggle="tab" href="#gridmaptb">Grid Map of EarthE</a></div></div>
                                            </div>-->
                                            <div class="tab-content">
                                                <div class="tab-pane container fade" id="live">
                                                    <center>
                                                        <img src="192.168.0.100:8080/snapshot?topic=/top_cam/image_raw" style="height:570px;">
                                                        <video id="video" src="192.168.0.100:8080/snapshot?topic=/top_cam/image_raw" autoplay="autoplay" width="videowidth" height="videoheight"></video>
                                                    </center><!--{% static 'home/src/liveview.jpg' %}-->
                                                </div>
                                                <div class="tab-pane container fade" id="sortrig">

                                                </div>
                                                <div class="tab-pane container active" id="gridmaptb">
                                                        <div id="gridmap" onclick="getClickPosition()">
                                                            <img id="instrearthe" src="{% static 'home/src/earthe.png' %}" style="height:50px">
                                                            <img id="curearthe" src="{% static 'home/src/earthe.png' %}" style="height:50px">
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="box-container noneed" style="margin-top:10px">
                                                <div class="content-box">
                                                    <div class="row" style="margin:0px">
                                                        <div class="col-md-5">
                                                            <ul class="nav nav-pills mb-3" id="tabs" role="tablist"
                                                                style="margin-bottom:0px!important; font-size:18px;">
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" id="robot-tab" data-toggle="pill" href="#robot" role="tab" aria-controls="robot" aria-selected="true" style="font-size:18px;">Status of Robots and Rubbish</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" id="docs-tab" data-toggle="pill" href="#docs" role="tab" aria-controls="docs" aria-selected="false" style="font-size:18px;">Documentantion</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <ul class="nav nav-pills mb-3" id="tabs" role="tablist" style="margin-bottom:0px!important; font-size:18px;">
                                                                <li class="nav-item">
                                                                    <button type="button" class="btn btn-info" onclick="location.reload()">Reload</button>
                                                                </li>
                                                                <li class="nav-item" style="margin-left:5px">
                                                                    <button type="button" class="btn btn-outline-info"s tyle="font-size:18px;">Live View</button>
                                                                </li>
                                                                <li class="nav-item" style="margin-left:5px">
                                                                    <button type="button" class="btn btn-outline-success" style="font-size:18px;">Contact Support</button>
                                                                </li>
                                                                <li class="nav-item" style="margin-left:5px">
                                                                    <form action="auto" method="POST">{% csrf_token %}  <button type="submit" class="btn btn-outline-danger" style="font-size:18px;">Automatic</button></form>
                                                                </li>
                                                                <li class="nav-item" style="margin-left:5px">
                                                                    <form action="man" method="POST">{% csrf_token %}  <button type="submit" class="btn btn-outline-warning" style="font-size:18px;">Manual</button></form>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;color:white">
                                        <div class="col-md-6">
                                            <div class="box-container">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div id="titled">
                                                            <a>Automatic Operation</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div id="titled_autoen" style="background-color: green;"><a id="autoen" style="text-align: center;">{{ manen }}</a></div>
                                                    </div>
                                                </div>

                                                <div class="content-box">
                                                    <div class="box-container noneed" id="errorProc">
                                                        <p>Here will show the current state of the operation</p>
                                                        <p>Current state of the operation</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box-container">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div id="titled">
                                                            <a>Manual Operation</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div id="titled_manen" style="background-color: red;"><a id="manen" style="text-align: center;">{{ autoen }}</a></div>
                                                    </div>
                                                </div>

                                                <div class="content-box">
                                                    <div class="box-container noneed"  id="errorProc">
                                                        <p>Select Funtion for Manual Control</p>
                                                        <p>Current state of the operation</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <script>
            /*$("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });*/
            $('#pills-tab a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        </script>
        </body>
    </div>