
<div class="box-container">
    <div
     class="titled">
        <div id="selectName">Check Status</div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Device
            <span class="caret"></span></button>
            <ul  class="dropdown nav mb-3" id="pills-tab" role="tablist">
                <a class="nav-link active" id="pills-status-tab" data-toggle="pill" href="#pills-status" role="tab" aria-controls="pills-status" aria-selected="true">TriTrack</a>
                <a class="nav-link" id="pills-powerboard-tab" data-toggle="pill" href="#pills-powerboard" role="tab" aria-controls="pills-powerboard" aria-selected="false">DaNI</a> 
            </ul>  
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">  
        <div class="tab-pane fade show active" id="pills-status" role="tabpanel" aria-labelledby="pills-status-tab">
            <div class="box-container noneed">
                <div id="titled" >
                    <a>Tritrack</a>
                </div>
                <!--Rounded Progress-->
                <div class="content-box">
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <tr >
                            <th>Status</th>
                            <td>Operational</td>
                            <th>Warnigs</th>
                            <td>NaN</td>
                        </tr>
                    </table>
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <thead>
                            <tr><th><h4>Microcontrollers<h4></th></tr>
                        </thead>
                        <tr>
                            <th>MIcro</th>
                            <td>Operational</td>
                            <th>Warnigs</th>
                            <td>NaN</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="box-container">
    <div class="tab-content" id="pills-tabContent">  
        <div class="tab-pane fade show active" id="pills-tritrack" role="tabpanel" aria-labelledby="pills-tritrack-tab">
            <div class="box-container noneed">
                <div id="titled" >
                    <a>Tritrack</a>
                </div>
                <!--Rounded Progress-->
                <div class="content-box">
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <tr >
                            <th>Status</th>
                            <td>Operational</td>
                            <th>Warnigs</th>
                            <td>NaN</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box-container noneed">
                <div id="titled">
                    <a style="color:white; text-align: center;">Microcontrollers</a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 style="color:white; text-align: center;">RaspberyPi</h5>
                        <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                            <tr>
                                <th>Status</th>
                                <td>Operational</td>
                            </tr>
                            <tr>
                                <th>Processing</th>
                                <td>NaN %</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h5 style="color:white; text-align: center;">Boarduino</h5>
                        <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                            <tr>
                                <th>Status</th>
                                <td>Operational</td>
                            </tr>
                            <tr>
                                <th>Processing</th>
                                <td>NaN %</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>  