<!doctype html>
    <head>
        <meta name='viewport' content="maximum-scale=1.0 user-scalable=no">
        <title>Team Earth</title>
        <!--Bootstrap-->
        <!--javascript-->
        {% load static %}
            <script src="{% static 'home/js/jquery/jquery.min.js' %}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            
            <script text="javascript" src="{% static 'home/js/bootstrap.bundle.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
            <!--Styles-->
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_grid.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_grid.min.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_reboot.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_reboot.min.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}"> 

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <!--jQuery-->
        <script src="{% static 'home/js/data.js' %}"></script>

        <!--Font Awosome
        <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">-->

        <!--Custom Scripts-->
        <!--javascript-->
        <script text="javascript" src="{% static custom.js %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">

        <!--styles-->
        <link rel="stylesheet" href="{% static 'home/css/mrk2/Untitled-1.css.map' %}">
        <link rel="stylesheet" href="{% static 'home/css/mrk2/Untitled-1.css' %}">
        <script async src="https://www.youtube.com/iframe_api"></script>
    </head>
    <body>        
        <div id="leftmenu">
            <!--Clocks above-->
            <div id="date_time">
              <div id="date" class="semi_arc e4">
                <div class="semi_arc_2 e4_1">
                  <div class="counterspin4"></div>
                </div>
                  <div style="font-size: 40px; margin-top: 25px;" id="dateof">04</div>
                  <div style="font-size: 25px;" id="month"></div>
              </div>
              <div id="time" class="arc e1">
                  <div style="font-size: 23px; margin-left: -10px; margin-top: 23px;" id="hours">23:41</div>
                  <div style="font-size: 15px; margin-left: 40px; margin-top: -30px;" id="sec">31</div>
                  <div style="font-size: 17px; margin-top: 10px;" id="day">Tuesday</div>
              </div>
            </div>
        
            <!--Performance Status-->
            <p class="title">Performance</p>
            <div class="hline title_underline"></div>
            <div class="menu">
                <span class="menuitem entypo-gauge" style="font-size: 30px; margin-left: 10px;">
                    <p id="cpu" class="caption" style="font-size: 20px;">CPU Usage: 19%</p><!--{Random number between 0-100}-->
                </span> <br/>
                <span class="menuitem entypo-chart-area" style="font-size: 30px; margin-left: 10px;">
                    <p id="ram" class="caption" style="font-size: 20px;">Physical Memory: 28%</p> <!--{Random number between 40-70}-->
                </span> <br/>
                <span class="menuitem entypo-chart-pie" style="font-size: 30px; margin-left: 10px;">
                    <p id="proc" class="caption" style="font-size: 20px;">Processes: 73</p> <!--{Random number between 1 - 20}-->
                </span>
            </div>
        
            <!--Menu Choice for Monitoring and Control Systems-->
            <p class="title">Monitoring <br>and Control System</p>
            <div class="hline title_underline"></div> 
            <div class="menu">
                <ul class="nav">
                    <li class="nav-item menuitem">
                        <a class="caption nav-link active" data-toggle="tab" href="#system" style="padding-left: 0px;">System Monitor</a>
                    </li>
                    <li class="nav-item menuitem">
                        <a class="caption nav-link" data-toggle="tab" href="#earth-e" style="padding-left: 0px;" >Earth-E</a>
                    </li>
                    <li class="nav-item menuitem    ">
                        <a class="caption nav-link" data-toggle="tab" href="#sortrig" style="padding-left: 0px;">Sorting Rig</a>
                    </li>
                </ul>
            </div>
            <p class="title">Shortcuts</p>
            <div class="hline title_underline"></div> 
            <div class="menu">
                
            </div>
                <!--Menu Choice for Shortcuts-->
            <p class="title">Shortcuts</p>
            <div class="hline title_underline"></div> 
            <div class="menu">
              <button class="menuitem"><span class="entypo-right-open"/><a class="caption" id="statEarthe">Status of Earth-E</a></button>
              <button class="menuitem"><span class="entypo-right-open"/><a class="caption" id="statSortRig">Status of SortRig</a></button>
              <button class="menuitem"><span class="entypo-right-open"/><a class="caption" id="statRubbish">Status of Rubbish</a></button>
            </div>    
        </div>
        
        <!-- Right Menu 
        <div id="rightmenu">
            <p class="title" style="text-align: left; margin-left: 10px;">Notes</p>
            <div id="particle10" class="hline"></div>
            <div id="particle11" class="hline"></div>
            <div id="particle12" class="vline"></div>
            <textarea id="note_input" rows="15" cols="44"></textarea>
        </div>-->
        
        <div class="tab-content">
            <!---------System Monitor-------->
            <div class="tab-pane container active" role="tabpanel" id="system">
                <div class="lineofboxframe1-top"><div class="powerTo"></div></div>
                <div class="lineofboxframe1-bottom"><div class="powerTo"></div></div>
                <div class="boxframe1">
                    <p class="title" style="text-align: center; margin-top: -35px;">Earth-E</p>
                    <div id="muteEarthE"></div>
                    <script>
                        function onYouTubeIframeAPIReady() {
                        var muteEarthE;
                        muteEarthE = new YT.Player('muteEarthE', {
                            videoId: 'zSRs9Y7lprk', // YouTube Video ID
                            width: 480,               // Player width (in px)
                            height: 360,              // Player height (in px)
                            playerVars: {
                                autoplay: 1,        // Auto-play the video on load
                                controls: 0,        // Show pause/play buttons in player
                                showinfo: 1,        // Hide the video title
                                modestbranding: 0,  // Hide the Youtube Logo
                                loop: 1,            // Run the video in a loop
                                fs: 0,              // Hide the full screen button
                                cc_load_policy: 0, // Hide closed captions
                                iv_load_policy: 3,  // Hide the Video Annotations
                                autohide: 0         // Hide video controls when playing
                            },
                            events: {
                                onReady: function(e) {
                                    e.target.mute();
                                }
                            }
                        })
                        }
                    </script>
                </div>
                <div class="lineofboxframe2-top"><div class="powerTo"></div></div>
                <div class="lineofboxframe2-bottom"><div class="powerTo"></div></div>
                <div class="boxframe2">
                    <p class="title" style="text-align: center; margin-top: -35px;">Sorting Rig</p>
                    <div id="muteSortRig"></div>
                    <script>
                        function onYouTubeIframeAPIReady() {
                        var muteSortRig;
                        muteSortRig = new YT.Player('muteSortRig', {
                            videoId: 'zSRs9Y7lprk', // YouTube Video ID
                            width: 640,               // Player width (in px)
                            height: 480,              // Player height (in px)
                            playerVars: {
                            autoplay: 1,        // Auto-play the video on load
                            controls: 0,        // Show pause/play buttons in player
                            showinfo: 1,        // Hide the video title
                            modestbranding: 0,  // Hide the Youtube Logo
                            loop: 1,            // Run the video in a loop
                            fs: 0,              // Hide the full screen button
                            cc_load_policy: 0, // Hide closed captions
                            iv_load_policy: 3,  // Hide the Video Annotations
                            autohide: 0         // Hide video controls when playing
                            },
                            events: {
                            onReady: function(e) {
                                e.target.mute();
                            }
                            }
                        })
                        }
                    </script>
                </div>
                <div class="lineofboxframe3-top"><div class="powerTo"></div></div>
                <div class="lineofboxframe3-bottom"><div class="powerTo"></div></div>
                <div class="boxframe3">
                    <p class="title" style="text-align: center; margin-top: -35px;">Eye-in-the-Sky</p>
                    <div id="muteEyeInTheSky"></div>
                    <script>
                        function onYouTubeIframeAPIReady() {
                        var muteEyeInTheSky;
                        muteEyeInTheSky = new YT.Player('muteEyeInTheSky', {
                            videoId: '4wFlJHVcBKs', // YouTube Video ID
                            width: 480,               // Player width (in px)
                            height: 360,              // Player height (in px)
                            playerVars: {
                            autoplay: 1,        // Auto-play the video on load
                            controls: 0,        // Show pause/play buttons in player
                            showinfo: 1,        // Hide the video title
                            modestbranding: 0,  // Hide the Youtube Logo
                            loop: 1,            // Run the video in a loop
                            fs: 0,              // Hide the full screen button
                            cc_load_policy: 0, // Hide closed captions
                            iv_load_policy: 3,  // Hide the Video Annotations
                            autohide: 0         // Hide video controls when playing
                            },
                            events: {
                            onReady: function(e) {
                                e.target.mute();
                            }
                            }
                        })
                        }
                    </script>
                </div>
            </div>
            <!--------Earth-E Monitor-------->
            <div class="tab-pane container fade" role="tabpanel" id="earth-e">
                <!---------Line from Reactor-------->
                <div class="lineofReactorView-1"><div class="powerTo"></div></div>
                <div class="lineofReactorView-2"><div class="powerTo"></div></div>
                <div class="lineofReactorView-3"><div class="powerTo"></div></div>
                <div class="lineofReactorView-4"><div class="powerTo"></div></div>
                <div class="lineofReactorView-5"><div class="powerTo"></div></div>
                <div class="lineofLinksToConsumption"><div class="powerTo"></div></div>
                <div class="lineofLinksToCapacity"><div class="powerTo"></div></div>
                <div class="lineofLinksToPerformance"><div class="powerTo"></div></div>
                <!------------Links----------->
                <div class="boxframe-links">
                    <div class="menu" style="float:right;margin-left:-10px;padding-top: 35px;padding-right: 10px;">
                        <ul class="nav" role="tablist">
                            <li class="nav-item menuitem" style="margin: 0px 0px 5px 0px;">
                                <a style="margin: 0px 0px 0px -70px; font-size: 28px;text-decoration: underline;" class="caption nav-link active" data-toggle="tab" href="#perform" style="padding-left: 0px;">Performance</a>
                            </li>
                            <li class="nav-item menuitem" style="margin: 15px 0px 20px 0px;">
                                <a style="margin: 0px 0px 0px -180px; font-size: 28px;text-decoration: underline;" class="caption nav-link" data-toggle="tab" href="#test" style="padding-left: 0px;">Energy Consumption</a>
                            </li>
                            <li class="nav-item menuitem" style="margin: 10px 0px 15px 0px;">
                                <a style="margin: 0px 0px 0px -165px; font-size: 28px;text-decoration: underline;" class="caption nav-link" data-toggle="tab" href="#test" style="padding-left: 0px;">Battery Capacity</a>
                            </li>
                            <li class="nav-item menuitem" style="margin: 10px 0px 15px 0px;">
                                <form action="auto" method="POST">{% csrf_token %}  <div class="form-group"><button type="submit" class="btn btn-outline-success" style="font-size: 28px; padding:0px; padding-left:5px; padding-right:5px; margin-left:-80px; border:transparent; text-decoration: underline;" href="#auto">Automatic</button></div></form>
                                
                            </li>
                            <li class="nav-item menuitem" style="margin: 5px 0px 5px 0px;">
                                <form action="man" method="POST">{% csrf_token %}  <div class="form-group"><button type="submit" class="btn btn-outline-danger" style=" font-size: 28px; padding:0px; padding-left:5px; padding-right:5px; margin-left:-5px; border:transparent; text-decoration: underline;" href="#manual">Manual</button></div></form>
                            </li>
                        </ul>
                    </div>
                </div>
                <!---------Environmental Warning-------->
                <div class="boxframe-tideenv" id="tideToggle">  
                    <div id="tideenv">Receiving...</div>
                </div>
                <!---------Environmental Warning-------->
                <div class="boxframe-warnenv" id="warnToggle">
                    <div id="warnenv">Receiving...</div>
                </div>
                <!---------Performance-------->
                <div class="boxframe-performance">
                    <p class="title" style="margin-top:0px">Performance</p>
                    <div class="hline title_underline" style=" margin-left: 120px;"></div>
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <thead>
                            <tr>
                                <th style="width:25%; border-top: transparent">Module</th>
                                <th style="width:50%; border-top: transparent">Status</th>
                                <th style="width:25%; border-top: transparent">Processing</th>
                            </tr>
                        </thead>
                        <tr>
                            <th style="color:rgba(241, 232, 232, 0.822); text-align: center;"><b>RaspberryPi</b></th>
                            <td id="PiStat">{{ PiStat }}</td><td id="Pi4procTri">{{ Pi4procTri }}</td>
                        </tr>
                        <tr>
                            <th style="color:rgba(241, 232, 232, 0.822); text-align: center;"><b>Boarduino</b></th>
                            <td id="BrdStat">{{ BrdStat }}</td><td id="BrdProc">{{ BrdProc }}</td>
                        </tr>
                        <tr>
                            <th style="color:rgba(241, 232, 232, 0.822); text-align: center;"><b>ROS</b></th>
                            <td id="RosStat">{{ RosStat }}</td><td id="ROSproc">{{ ROSproc }}</td>
                        </tr>
                    </table>
                </div>
                <!---------Consumption-------->
                <div class="boxframe-consumption">
                    <div class="tab-content">
                        <div class="tab-pane container active" id="system">
                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                <tr>
                                    <th style="text-align: center; border-top: transparent">RaspberyPi</th>
                                    <td id="Consumption" style="text-align: center; border-top: transparent">{{Consumption}} W</td>
                                </tr>
                                <tr>
                                    <td >Boarduino</th>
                                    <td id="Consumptiona">{{Consumption}} W</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane container fade" id="system">

                        </div>
                    </div>
                </div>
                <!---------Capacity-------->
                <div class="boxframe-capacity">
                    <div class="tab-content">
                        <div class="tab-pane container active" id="system">
                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                <tr>
                                    <th style="text-align: center; border-top: transparent" > Battery 1</th>
                                    <td id="CapA"style="text-align: center; border-top: transparent">{{CapA}}</td>
                                </tr>
                                <tr>
                                    <th>Battery 2</th>
                                    <td id="CapB">{{CapB}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane container fade" id="system">

                        </div>
                    </div>
                </div>
                <!---------Automatic Manual-------->
                <div class="boxframe-automan">
                    <p class="title" style="margin-top:0px" id="Operation">Automatic</p>
                    <div class="hline title_underline" style=" margin-left: 190px; margin-bottom: 10px;"></div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="table-responsive" style="width:90%; margin-top: 10px; margin-left: 20px; margin-right: 20px;">
                                <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                    <tr style="border-top: none;">
                                        <th style="border-top: none;">Location</th>
                                        <td id="locEarthe"style="border-top: none;">X-axis: &nbsp; {{ aXaxis }} &nbsp; Y-Axis: &nbsp; {{ aYaxis }}</td>
                                    </tr>
                                    <tr>
                                        <td>Phase</th>
                                        <td id="">Collecting Rubbish</td>
                                    </tr>
                                    <tr>
                                        <td>Target</th>
                                        <td id="">
                                            <!--
                                                <select style="background-color: transparent; color: white;"> 
                                                    <option value=""></option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                </select>
                                            -->
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <center><p class="caption" style="color:#02feff; font-size:25px; text-decoration: underline;">Throttle</p></center>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="throttle">
                                        <div id="percentageL"></div>
                                    </div>
                                    <center>
                                        <p style="font-size: 24px;">L</p>
                                    </center>
                                </div>
                                <div class="col-md-6">
                                    <div class="throttle">
                                        <div id="percentageR"></div>
                                    </div>
                                    <center>
                                        <p style="font-size: 24px;">R</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------Lines to Live View-------->
                <div class="lineofboxframeView-top"><div class="powerTo"></div></div>
                <div class="lineofboxframeView-bottom"><div class="powerTo"></div></div>
                <!-------------Live View------------->
                <div class="boxframeView">
                    <!--<img src="{% static '\home\src\sortingrig.PNG' %}" style="height:480px">-->
                    <div id="muteLiveViewEarthE"></div>
                    <script>
                        function onYouTubeIframeAPIReady() {
                        var muteLiveViewEarthE;
                        muteLiveViewEarthE = new YT.Player('muteLiveViewEarthE', {
                            videoId: '4wFlJHVcBKs', // YouTube Video ID
                            width: 600,               // Player width (in px)
                            height: 470,              // Player height (in px)
                            playerVars: {
                            autoplay: 1,        // Auto-play the video on load
                            controls: 0,        // Show pause/play buttons in player
                            showinfo: 1,        // Hide the video title
                            modestbranding: 0,  // Hide the Youtube Logo
                            loop: 1,            // Run the video in a loop
                            fs: 0,              // Hide the full screen button
                            cc_load_policy: 0, // Hide closed captions
                            iv_load_policy: 3,  // Hide the Video Annotations
                            autohide: 0         // Hide video controls when playing
                            },
                            events: {
                            onReady: function(e) {
                                e.target.mute();
                            }
                            }
                        })
                        }
                    </script>
                </div>   
                <!---------Lines to GridMap-------->
                <div class="lineofboxframeGridMap-top"><div class="powerTo"></div></div>
                <div class="lineofboxframeGridMap-bottom"><div class="powerTo"></div></div>
                <!-------------Grid Map------------>
                <div class="boxframeGridMap">
                    <div id="gridmap" onclick="getClickPosition()">
                        <svg height="480" width="640" style="position:fixed">
                            <path d="M 500 0 q -30 230 127 230 q 0 0 0 -640" stroke="blue" stroke-width="5" fill="blue" />
                        </svg>
                        <img id="instrearthe" src="{% static 'home/src/earthe.png' %}" style="height:50px">
                        <img id="curearthe" src="{% static 'home/src/earthe.png' %}" style="height:50px; display:none">
                    </div>
                    <script src="{% static 'home/js/gridmap.js' %}"></script>
                    <script src="{% static 'home/js/eartheDemo.js' %}"></script>
                </div>
                 
                
            </div>
            <!--------Sorting-Rig Monitor-------->
            <div class="tab-pane container fade" role="tabpanel" id="sortrig">
                <!---------Line from Reactor-------->
                <div class="lineofLinksToPerformanceSortRig"><div class="powerTo"></div></div>
                <div class="lineofLinksToBinsTop"><div class="powerTo"></div></div>
                <div class="lineofLinksToBinsBottom"><div class="powerTo"></div></div>
                <div class="lineofLinksToRubbishRight"><div class="powerTo"></div></div>
                <div class="lineofLinksToRubbishLeft"><div class="powerTo"></div></div>
                <!---------Performance-------->
                <div class="boxframe-performance">
                    <p class="title" style="margin-top:0px">Performance</p>
                    <div class="hline title_underline" style=" margin-left: 120px;"></div>
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <thead>
                            <tr>
                                <th style="width:25%; border-top: transparent">Module</th>
                                <th style="width:50%; border-top: transparent">Status</th>
                                <th style="width:25%; border-top: transparent">Processing</th>
                            </tr>
                        </thead>
                        <tr>
                            <th style="text-align: center;"><b>RaspberryPi</b></th>
                            <td id="PiStatSort">{{ PiStatSort }}</td><td id="Pi4procTriSor">{{ Pi4procTriSor }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: center;"><b>Arduino</b></th>
                            <td id="ArdStat">{{ ArdStat }}</td><td id="ArdProc">{{ ArdProc }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: center;"><b>PowerBoard</b></th>
                            <td id="PrdStat">{{ PrbStat }}</td><td id="PrbProc">{{ PrbProc }}</td>
                        </tr>
                    </table>
                </div>
                <!-------------Live View------------->
                <div class="lineofboxframeView-top"><div class="powerTo"></div></div>
                <div class="lineofboxframeView-bottom"><div class="powerTo"></div></div>
                <div class="boxframeView">
                    <!--<img src="{% static '\home\src\sortingrig.PNG' %}" style="height:480px">-->
                    <div id="muteYouTubeVideoPlayer"></div>
                    <script>
                        function onYouTubeIframeAPIReady() {
                        var muteYouTubeVideoPlayer;
                        muteYouTubeVideoPlayer = new YT.Player('muteYouTubeVideoPlayer', {
                            videoId: '4wFlJHVcBKs', // YouTube Video ID
                            width: 600,               // Player width (in px)
                            height: 470,              // Player height (in px)
                            playerVars: {
                            autoplay: 1,        // Auto-play the video on load
                            controls: 0,        // Show pause/play buttons in player
                            showinfo: 1,        // Hide the video title
                            modestbranding: 0,  // Hide the Youtube Logo
                            loop: 1,            // Run the video in a loop
                            fs: 0,              // Hide the full screen button
                            cc_load_policy: 0, // Hide closed captions
                            iv_load_policy: 3,  // Hide the Video Annotations
                            autohide: 0         // Hide video controls when playing
                            },
                            events: {
                            onReady: function(e) {
                                e.target.mute();
                            }
                            }
                        })
                        }
                    </script>
                </div>
                <div class="boxframe-ControlSortRig">
                    <p class="title" style="margin-top:0px">Control the Rig</p>
                </div>
                <!-------Rubbish at Bins-------->
                <div class="boxframe-bins">

                    <div class="table-responsive">
                        <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                            <thead>
                                <tr>
                                    <th style="width:33%; border-top: transparent; border-bottom-color: rgba(150, 255, 255, 0.5);"><b>Bin A - Plastic</b></th>
                                    <th style="width:33%; border-top: transparent; border-bottom-color: rgba(150, 255, 255, 0.5);"><b>Bin B - Metal</b></th>
                                </tr>
                            </thead>
                        </table>
                        <table class="table table-dark table responsive" style="background-color: transparent; text-align:left;margin-bottom:0px;">
                            <tr><th>Amount</th><td id="BinA">{{ BinA }}</td><th>Amount</th><td id="BinB">{{ BinB }}</td></tr>
                            <tr><th style="border-bottom:3px solid #454d55;">Trasnfer</th><td id="BinAtfr">NaN</td><th style="border-bottom:3px solid #454d55;">Waitinig</th><td id="BinBtfr">NaN</td></tr>
                        </table>                       
                        <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                            <thead>
                                <tr>
                                    <th style="width:33%; border-top: transparent; border-bottom-color: rgba(150, 255, 255, 0.5);"><b>Bin C - Paper</b></th>
                                    <th style="width:33%; border-top: transparent; border-bottom-color: rgba(150, 255, 255, 0.5);"><b>Bin D - General Waste</b></th>
                                </tr>
                            </thead>
                        </table>
                        <table class="table table-dark table responsive" style="background-color: transparent; text-align:left;margin-bottom:0px;">
                            <tr><th>Amount</th><td id="BinC">{{ BinA }}</td><th>Amount</th><td id="BinD">{{ BinB }}</td></tr>
                            <tr><th>Trasnfer</th><td id="BinCtfr">NaN</td><th>Waitinig</th><td id="BinDtfr">NaN</td></tr>
                        </table>
                    </div>
                </div>
                <!-------Trash Identification-------->
                <div class="boxframe-rubbish">
                    <p class="title" style="margin-top:0px; text-align: center; margin-left: 0px;">Rubbish</p>
                    <div class="hline title_underline" style=" margin-left: 45px; width:150px"></div>
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <tr><th style="border-top:1px solid transparent; width:70%; border-bottom:1px solid #454d55; text-align: center;"><b>Estimated</b></th><td id="totRub" style="width:30%;">{{totRub}}</td></tr>
                        <tr><th style="border-top:1px solid transparent; width:70%; border-bottom:1px solid #454d55; text-align: center;"><b>Collected</b></th><td id="colRub" style="width:30%;">{{colRub}}</td></tr>
                        <tr><th style="border-top:1px solid transparent; width:70%; text-align: center;"><b>Sorted</b></th><td id="SortRub" style="width:30%;">{{SortRub}}</td></tr>
                    </table>
                </div>
                <div class="boxframe-ident">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <p class="title">Trash Identification</p>
                           <!-- <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                <tr>
                                    <th style="text-align: center; border-top: transparent; color: #02feff; padding-left: 20px;">Processing</th>
                                    <td id="CapA"style="text-align: center; border-top: transparent">Curently Unavailable</td>
                                </tr>
                            </table>-->
                            <div class="row">
                                <div class="col-md-4" style="margin-top: 10px;">
                                    <div class="tableIdent">
                                        <p>Plastic</p>
                                        <p>Metal</p>
                                        <p>Paper</p>
                                        <p>Unable</p>
                                    </div>
                                </div>
                                <div class="col-md-8" style="margin-top: 10px;">
                                    <div class="tableIdent">
                                        <div class="Plastic">
                                            <div id="percentagePlastic"></div>
                                        </div>
                                        <div class="Metal">
                                            <div id="percentageMetal"></div>
                                        </div>
                                        <div class="Paper">
                                            <div id="percentagePaper"></div>
                                        </div>
                                        <div class="Unable">
                                            <div id="percentageUnable"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="margin-top: 20px;">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <center><img src="{% static '\home\src\Plastic-Bottle.PNG' %}" style="height:200px" class="img-fluid"" alt="..."></center>
                                    </div>
                                    <div class="carousel-item">
                                        <center><img src="{% static '\home\src\silver-ring-pull-end.png' %}" style="height:200px" class="img-fluid" alt="..."></center>
                                    </div>
                                    <div class="carousel-item">
                                        <center><img src="{% static '\home\src\sortingrig.PNG' %}" style="height:200px" class="img-fluid" alt="..."></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <div id="arc_container">
            <div class="arc_reactor">
                <div class="case_container">
                    <div class="e7" style="margin-left: 7.5px;">
                        <div class="semi_arc_3 e5_1">
                            <div class="semi_arc_3 e5_2">
                                <div class="semi_arc_3 e5_3">
                                    <div class="semi_arc_3 e5_4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="core2"></div>
                    </div>
                    <ul class="marks">
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                        <li></li><li></li><li></li><li></li><li></li><li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" style="position: fixed; min-height: 200px;">
            <!-- Position it -->
            <div style="position: fixed; top: 10px; right: 0;">
                <div class="row">
                    <!-- Then put toasts within -->
                    <div id="Tearthe" class="toast" role="alert" aria-live="assertive" aria-atomic="true" class="toast" aria-live="assertive" data-autohide="false" aria-atomic="true" style="position: relative; right: 20px; width: auto; min-width:250px">
                        <div class="toast-header" id="toastHead">
                            <strong class="mr-auto">Status of Earth-E</strong>
                            <small class="text-muted" id="timee"></small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body" id="toastBody">
                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                <tr style="border-top: none;">
                                    <th style="border-top: none;">Location</th>
                                    <td id="TlocEarthe" style="border-top: none;">X-axis: &nbsp; {{ aXaxis }} &nbsp; Y-Axis: &nbsp; {{ aYaxis }}</td>
                                </tr>
                            </table>
                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                <tr>
                                    <th style="text-align: center;" > Batt 1</th>
                                    <td id="TCapA"style="text-align: center;">{{CapA}}</td>
                                    <th>Batt 2</th>
                                    <td id="TCapB">{{CapB}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div id="TsortRig" class="toast" role="alert" aria-live="assertive" aria-atomic="true" class="toast" aria-live="assertive" data-autohide="false" aria-atomic="true" style="position: relative; right: 20px; width: auto; min-width:250px">
                        <div class="toast-header" id="toastHead">
                            <strong class="mr-auto">Status of Sorting Rig</strong>
                            <small class="text-muted" id="timeS"></small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body" id="toastBody">
                                <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                    <tr>
                                        <th style="border-top:1px solid transparent; width:70%; border-bottom:1px solid #454d55; text-align: center;"><b>Collected</b></th>
                                        <td id="TcolRub" style="width:30%; border-top:1px solid transparent;">{{colRub}}</td>
                                    </tr>
                                    <tr>
                                        <th style="border-top:1px solid transparent; width:70%; text-align: center;"><b>Sorted</b></th>
                                        <td id="TSortRub" style="width:30%;">{{SortRub}}</td>
                                    </tr>
                                </table>
                        </div>
                    </div>

                    <div id="TRubb" class="toast" role="alert" aria-live="assertive" aria-atomic="true" class="toast" aria-live="assertive" data-autohide="false" aria-atomic="true" style="position: relative; right: 20px; width: auto; min-width:250px">
                        <div class="toast-header" id="toastHead">
                            <strong class="mr-auto">Status of Rubbish</strong>
                            <small class="text-muted" id="timeS"></small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true" style="color:white">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body" id="toastBody">               
                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                <thead>
                                    <tr>
                                        <td style="width:25%; border-top:transparent;"><b>Bin A</b></td><td style="width:25%; border-top:transparent;" id="TBinA">{{ BinA }}</td>
                                        <td style="width:25%; border-top:transparent;"><b>Bin B</b></td><td style="width:25%; border-top:transparent;" id="TBinB">{{ BinB }}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:25%; border-bottom:transparent;"><b>Bin C</b></th><td id="TBinC" style="width:25%; border-bottom:transparent;">{{ BinA }}</td>
                                        <th style="width:25%; border-bottom:transparent;"><b>Bin D</b></th><td id="TBinD" style="width:25%; border-bottom:transparent;">{{ BinB }}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#statEarthe').on("click",function(){
                $('#Tearthe').toast('show')

                var minutes = new Date().getUTCMinutes();
                var hours = new Date().getUTCHours();
                $('#timee').html(hours + ' : ' + minutes);
            })
            $('#statSortRig').on("click",function(){
                $('#TsortRig').toast('show')
                var minutes = new Date().getUTCMinutes();
                var hours = new Date().getUTCHours();
                $('#timeS').html(hours + ' : ' + minutes);
            })
            $('#statRubbish').on("click",function(){
                $('#TRubb').toast('show')
                var minutes = new Date().getUTCMinutes();
                var hours = new Date().getUTCHours();
                $('#timeR').html(hours + ' : ' + minutes);
            })
        </script>
        
        <!-- Particles -->
        <!-- Left Menu Particles -->
        <canvas id="particle1" width="20" height="500"></canvas>
        <script>
            var canvas = document.getElementById('particle1');
            var context = canvas.getContext('2d');
            
            context.beginPath();
            context.moveTo(0, 0);
            context.lineTo(0, 70);
            context.lineTo(10, 85);
            context.lineTo(10, 135);
            context.lineTo(0, 150);
            context.lineTo(0, 480);
            context.lineTo(5, 490);
            context.lineTo(10, 490);
            context.lineTo(20, 490);
            context.lineTo(20, 250);
            context.lineTo(10, 235);
            context.lineTo(10, 185);
            context.lineTo(20, 170);
            context.lineTo(20, 40);
            context.lineTo(10, 30);
            context.lineTo(10, 20);
            
            context.closePath();
            context.lineWidth = 1;
            context.fillStyle = 'rgba(2,254,255,0.3)';
            context.fill();
            context.strokeStyle = 'transparent';
            context.stroke();
        </script>
        <canvas id="particle1_1" width="40" height="510"></canvas>
        <script>
            var canvas = document.getElementById('particle1_1');
            var context = canvas.getContext('2d');
            
            context.beginPath();
            context.lineTo(0, 0);
            context.lineTo(10, 15);
            context.lineTo(10, 65);
            context.lineTo(0, 80);
            context.lineTo(0, 0);
            
            context.closePath();
            context.lineWidth = 1;
            context.fillStyle = 'rgba(2,254,255,0.3)';
            context.fill();
            context.strokeStyle = 'transparent';
            context.stroke();
        </script>
        <canvas id="particle1_2" width="40" height="510"></canvas>
        <script>
            var canvas = document.getElementById('particle1_2');
            var context = canvas.getContext('2d');
            
            context.beginPath();
            context.lineTo(10, 80);
            context.lineTo(0, 65);
            context.lineTo(0, 15);
            context.lineTo(10, 0);
            context.lineTo(10, 80);
            
            context.closePath();
            context.lineWidth = 1;  
            context.fillStyle = 'rgba(2,254,255,0.3)';
            context.fill();
            context.strokeStyle = 'transparent';
            context.stroke();
        </script>
        <div id="particle1_3">
        > > > >
        </div>
        <div id="particle3" class="vline"/>
        <div id="particle4" class="vline"/>
        <div id="particle5" class="vline"/>
        <div id="particle6" class="vline"/>
        <div id="particle7" class="vline"/>
        <div id="particle8" class="vline"/>
        <div id="particle9" class="vline"/>

        
        <!-- Arc Reactor -->
        <script>
          //clock
          var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; 
          var dayNames= ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
        
        
          var newDate = new Date(); 
          $('#month').html(monthNames[newDate.getUTCMonth()]);
          
          $('#day').html(dayNames[newDate.getDay()]);
          $("#dateof").html(newDate.getDate());
        
          setInterval( function() {
              var seconds = new Date().getUTCSeconds();
              $("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
          },1000);
        
          setInterval( function() {
              var minutes = new Date().getUTCMinutes();
              var hours = new Date().getUTCHours();
              $("#hours").html(( hours < 10 ? "0" : "" ) + hours + ':' + minutes);
              $("#timeOclock").html("ZULU");
          }, 1000);
        
          $("#dateOclock").click(function(){
              hours = new Date().getHours();
              $("#hours").html(( hours < 10 ? "0" : "" ) + hours);
              $("#timeOclock").html("LOCAL");
          });
        </script>
    </body>
</html>