<!doctype html>
    <head>
        <title>Team Earth</title>
        <!--Bootstrap-->
        <!--javascript-->
        {% load static %}
            <script text="javascript" src="{% static 'home/js/bootstrap.bundle.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.js' %}"></script>
            <script text="javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
            <!--Styles-->
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_grid.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_grid.min.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_reboot.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap_reboot.min.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}"> 

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <!--Charts Source-->
        <!--javascript-->
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
            <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <!--Styles-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">

        <!--jQuery-->
        <script src="{% static 'home/js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'home/js/data.js' %}"></script>

        <!--Font Awosome
        <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
        <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">-->

        <!--Custom Scripts-->
        <!--javascript-->
        <script text="javascript" src="{% static custom.js %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">

        <!--styles-->
        <link rel="stylesheet" href="{% static 'home/css/mrk2/Untitled-1.css.map' %}">
        <link rel="stylesheet" href="{% static 'home/css/mrk2/Untitled-1.css' %}">
    </head>
    <body>        
        <div id="leftmenu">
            <!--Clocks above-->
            <div id="date_time">
              <div id="date" class="semi_arc e4">
                <div class="semi_arc_2 e4_1">
                  <div class="counterspin4"></div>
                </div>
                  <div style="font-size: 40px; margin-top: 25px;" id="dateof">04</div>
                  <div style="font-size: 25px;" id="month"></div>
              </div>
              <div id="time" class="arc e1">
                  <div style="font-size: 23px; margin-left: -10px; margin-top: 23px;" id="hours">23:41</div>
                  <div style="font-size: 15px; margin-left: 40px; margin-top: -30px;" id="sec">31</div>
                  <div style="font-size: 17px; margin-top: 10px;" id="day">Tuesday</div>
              </div>
            </div>
        
            <!--Performance Status-->
            <p class="title">Performance</p>
            <div class="hline title_underline"></div>
            <div class="menu">
                <span class="menuitem entypo-gauge" style="font-size: 30px; margin-left: 10px;">
                    <p id="cpu" class="caption" style="font-size: 20px;">CPU Usage: 19%</p><!--{Random number between 0-100}-->
                </span> <br/>
                <span class="menuitem entypo-chart-area" style="font-size: 30px; margin-left: 10px;">
                    <p id="ram" class="caption" style="font-size: 20px;">Physical Memory: 28%</p> <!--{Random number between 40-70}-->
                </span> <br/>
                <span class="menuitem entypo-chart-pie" style="font-size: 30px; margin-left: 10px;">
                    <p id="proc" class="caption" style="font-size: 20px;">Processes: 73</p> <!--{Random number between 1 - 20}-->
                </span>
            </div>
        
            <!--Menu Choice for Monitoring and Control Systems-->
            <p class="title">Monitoring <br>and Control System</p>
            <div class="hline title_underline"></div> 
            <div class="menu">
                <ul class="nav">
                    <li class="nav-item menuitem">
                        <a class="caption nav-link active" data-toggle="tab" href="#system" style="padding-left: 0px;">System Monitor</a>
                    </li>
                    <li class="nav-item menuitem">
                        <a class="caption nav-link" data-toggle="tab" href="#earth-e" style="padding-left: 0px;">Earth-E</a>
                    </li>
                    <li class="nav-item menuitem    ">
                        <a class="caption nav-link" data-toggle="tab" href="#sortrig" style="padding-left: 0px;">Sorting Rig</a>
                    </li>
                </ul>
            </div>
        
                <!--Menu Choice for Shortcuts-->
            <p class="title">Shortcuts</p>
            <div class="hline title_underline"></div> 
            <div class="menu">
              <button class="menuitem"><span class="entypo-right-open"/><a class="caption" >Status of Earth-E</a></button>
              <button class="menuitem"><span class="entypo-right-open"/><a class="caption">Status of SortRig</a></button>
              <button class="menuitem"><span class="entypo-right-open"/><a class="caption">Status of Rubbish</a></button>
            </div>    
        </div>
        
        <!-- Right Menu 
        <div id="rightmenu">
            <p class="title" style="text-align: left; margin-left: 10px;">Notes</p>
            <div id="particle10" class="hline"></div>
            <div id="particle11" class="hline"></div>
            <div id="particle12" class="vline"></div>
            <textarea id="note_input" rows="15" cols="44"></textarea>
        </div>-->
        
        <div class="tab-content">
            <div class="tab-pane container active" id="system">
                <div class="boxframe1">
                    
                    <p class="title" style="text-align: center; margin-top: -35px;">Earth-E</p>
                </div>
                <div class="boxframe2">
                    <p class="title" style="text-align: center; margin-top: -35px;">Sorting Rig</p>
                    <img src="{% static '\home\src\sortingrig.PNG' %}" style="height:300px">
                </div>
                <div class="boxframe3">
                    <p class="title" style="text-align: center; margin-top: -35px;">Eye-in-the-Sky</p>
                </div>
            </div>
            <div class="tab-pane container fade" id="earth-e">
                <div class="boxframe-left-top">
                    <div class="tab-content">
                        <div class="tab-pane container active" id="system">
                            <p class="title" style="margin-top:0px">Performance</p>
                            <div class="hline title_underline" style=" margin-left: 120px;"></div>
                            <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                                <thead>
                                    <tr>
                                        <th style="width:30%; border-top: transparent">Module</th>
                                        <th style="width:40%; border-top: transparent">Status</th>
                                        <th style="width:30%; border-top: transparent">Processing</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <th style="color:rgba(241, 232, 232, 0.822); text-align: center;">RaspberyPi</th>
                                    <td id="PiStat">{{ PiStat }}</td><td id="Pi4procTri">{{ Pi4procTri }}</td>
                                </tr>
                                <tr>
                                    <th style="color:rgba(241, 232, 232, 0.822); text-align: center;"> Boarduino</th>
                                    <td id="BrdStat">{{ BrdStat }}</td><td id="BrdProc">{{ BrdProc }}</td>
                                </tr>
                                <tr>
                                    <th style="color:rgba(241, 232, 232, 0.822); text-align: center;"> ROS</th>
                                    <td id="BrdStat">{{ BrdStat }}</td><td id="BrdProc">{{ BrdProc }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane container active" id="system">
                        </div>
                    </div>
                </div>
                <div class="boxframe-left-middle">
                    <div class="menu" style="float:right;margin-left:-10px;">
                        <ul class="nav">
                            <li class="nav-item menuitem" style="margin: 5px 0px 5px 0px;">
                                <a style="margin: 0px 0px 0px -100px; text-decoration:underline; font-size: 30px;" class="caption nav-link active" data-toggle="tab" href="#system" style="padding-left: 0px;">Performance</a>
                            </li>
                            <li class="nav-item menuitem" style="margin: 5px 0px 5px 0px;">
                                <a style="margin: 0px 0px 0px -150px; text-decoration:underline; font-size: 30px;" class="caption nav-link" data-toggle="tab" href="#earth-e" style="padding-left: 0px;">Energy Capacity</a>
                            </li>
                            <li class="nav-item menuitem" style="margin: 5px 0px 5px 0px;">
                                <a style="margin: 0px 0px 0px -120px; text-decoration:underline; font-size: 30px;" class="caption nav-link" data-toggle="tab" href="#sortrig" style="padding-left: 0px;">Sorting Rig</a>
                            </li>
                            <li class="nav-item" style="margin: 5px 0px 5px 0px;">
                                <form action="auto" method="POST">{% csrf_token %}  <div class="form-group"><button type="submit" class="btn btn-outline-success" style="font-size:18px; padding:0px; padding-left:5px; padding-right:5px; margin-left:-70px; font-size: 24px;" href="#auto">Automatic</button></div></form>
                            </li>
                            <li class="nav-item" style="margin: 5px 0px 5px 0px;">
                                <form action="man" method="POST">{% csrf_token %}  <div class="form-group"><button type="submit" class="btn btn-outline-danger" style="font-size:18px; padding:0px; padding-left:5px; padding-right:5px; margin-top:50px; margin-left:-50px; font-size: 24px;" href="#manual">Manual</button></div></form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="boxframe-left-bottom">
                    <p class="title" style="margin-top:0px">Energy Capacity</p>
                    <div class="hline title_underline" style=" margin-left: 190px;"></div>
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <thead>
                            <th style="text-align: center; border-top: transparent">Consumption</th>
                            <th style="text-align: center; border-top: transparent">Battery Capacity</th>
                        </thead>
                    </table>
                    <table class="table table-dark table responsive" style="background-color: transparent; text-align:center;margin-bottom:0px;">
                        <tr>
                            <th>RaspberyPi</th>
                            <td id="Consumption">{{Consumption}} W</td>
                            <th>Battery 1</th>
                            <td id="CapA">{{CapA}}</td>
                        </tr>
                        <tr>
                            <td>Boarduino</th>
                            <td id="Consumptiona">{{Consumption}} W</td>
                            <th>Battery 2</th>
                            <td id="CapB">{{CapB}}</td>
                        </tr>
                    </table>
                </div>
                <div class="boxframe4">
                    <p class="title" style="text-align: center; margin-top: -35px;">Earth-E</p>
                    <img src="{% static '\home\src\sortingrig.PNG' %}" style="height:480px">
                </div>
            </div>
            <div class="tab-pane container fade" id="sortrig">
                <div class="boxframe4">
                    <p class="title" style="text-align: center; margin-top: -35px;">Sorting Rig</p>
                    <img src="{% static '\home\src\sortingrig.PNG' %}" style="height:480px">
                </div>
            </div>
            
        </div>

        <div id="arc_container">
        <div class="arc_reactor">
            <div class="case_container">
            <div class="e7" style="margin-left: 7.5px;">
                <div class="semi_arc_3 e5_1">
                <div class="semi_arc_3 e5_2">
                    <div class="semi_arc_3 e5_3">
                    <div class="semi_arc_3 e5_4"></div>
                    </div>
                </div>
                </div>
                <div class="core2"></div>
            </div>
            <ul class="marks">
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
            </ul>
            </div>
        </div>
        </div>
        
          <!-- Particles -->
          <!-- Left Menu Particles -->
          <canvas id="particle1" width="20" height="500"></canvas>
            <script>
                var canvas = document.getElementById('particle1');
                var context = canvas.getContext('2d');
                
                context.beginPath();
                context.moveTo(0, 0);
                context.lineTo(0, 70);
                context.lineTo(10, 85);
                context.lineTo(10, 135);
                context.lineTo(0, 150);
                context.lineTo(0, 480);
                context.lineTo(5, 490);
                context.lineTo(10, 490);
                context.lineTo(20, 490);
                context.lineTo(20, 250);
                context.lineTo(10, 235);
                context.lineTo(10, 185);
                context.lineTo(20, 170);
                context.lineTo(20, 40);
                context.lineTo(10, 30);
                context.lineTo(10, 20);
                
                context.closePath();
                context.lineWidth = 1;
                context.fillStyle = 'rgba(2,254,255,0.3)';
                context.fill();
                context.strokeStyle = 'transparent';
                context.stroke();
            </script>
          <canvas id="particle1_1" width="40" height="510"></canvas>
            <script>
                var canvas = document.getElementById('particle1_1');
                var context = canvas.getContext('2d');
                
                context.beginPath();
                context.lineTo(0, 0);
                context.lineTo(10, 15);
                context.lineTo(10, 65);
                context.lineTo(0, 80);
                context.lineTo(0, 0);
                
                context.closePath();
                context.lineWidth = 1;
                context.fillStyle = 'rgba(2,254,255,0.3)';
                context.fill();
                context.strokeStyle = 'transparent';
                context.stroke();
            </script>
          <canvas id="particle1_2" width="40" height="510"></canvas>
            <script>
              var canvas = document.getElementById('particle1_2');
              var context = canvas.getContext('2d');
              
              context.beginPath();
              context.lineTo(10, 80);
              context.lineTo(0, 65);
              context.lineTo(0, 15);
              context.lineTo(10, 0);
              context.lineTo(10, 80);
              
              context.closePath();
              context.lineWidth = 1;  
              context.fillStyle = 'rgba(2,254,255,0.3)';
              context.fill();
              context.strokeStyle = 'transparent';
              context.stroke();
            </script>
          
          <div id="particle1_3">
            > > > >
          </div>
          
          <div id="particle3" class="vline"/>
          <div id="particle4" class="vline"/>
          <div id="particle5" class="vline"/>
          <div id="particle6" class="vline"/>
          <div id="particle7" class="vline"/>
          <div id="particle8" class="vline"/>
          <div id="particle9" class="vline"/>
        
          <!-- Arc Reactor -->
        <script>
          //clock
          var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; 
          var dayNames= ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
        
        
          var newDate = new Date(); 
          $('#month').html(monthNames[newDate.getUTCMonth()]);
          
          $('#day').html(dayNames[newDate.getDay()]);
          $("#dateof").html(newDate.getDate());
        
          setInterval( function() {
              var seconds = new Date().getUTCSeconds();
              $("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
          },1000);
        
          setInterval( function() {
              var minutes = new Date().getUTCMinutes();
              var hours = new Date().getUTCHours();
              $("#hours").html(( hours < 10 ? "0" : "" ) + hours + ':' + minutes);
              $("#timeOclock").html("ZULU");
          }, 1000);
        
          $("#dateOclock").click(function(){
              hours = new Date().getHours();
              $("#hours").html(( hours < 10 ? "0" : "" ) + hours);
              $("#timeOclock").html("LOCAL");
          });
        </script>
    </body>
</html>